*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --padding-small: 3rem 3rem;
    --padding-big: 7rem 7rem;

    --color-violet: hsl(273, 89%, 44%);
    --shadow: 0px 2px 4px rgba(0,0,0,0.7);
}

.bg{
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(pic/Raiden.jpg);
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 7rem;
    align-items: center;
    background-color: var(--color-violet);
    top: 0;
    left: 0;
    position: sticky;
    z-index: 999;
    box-shadow: var(--shadow);
}

.logo{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.5s ease;
}

.logo:hover{
    color: hsl(300, 36%, 10%);
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 3rem;
}


.nav-links a{
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
    padding: .5rem 1rem;
}

.nav-links a:hover{
    background-color: white;
    color: var(--color-violet);
    border-radius: 7px;
}

.main-content-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 7rem 7rem 0rem;
}

img{
    width: 100%;
}

.first-left-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    gap: 1.5rem;
}

button{
    width: fit-content;
    padding: .5rem 1rem;
    outline: none;
    border-radius: 7px;
    border: 0;
    color: white;
    background-color: hsl(273, 89%, 44%);
    transition: 0.5s ease;
}

button:hover{
    background-color: white;
    color: var(--color-violet);
}

.main-content-2{
    display: flex;
    flex-direction: column;
    background-color: var(--color-violet);
    padding: var(--padding-big);
}

.second-content-top{
    padding: var(--padding-big);
    text-align: center;
    color: white;
    flex-wrap: wrap;
}

.second-content-bottom{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.card{
    width:300px;
    height: 320px;
    text-align: center;
    background-color: white;
    box-shadow: var(--shadow);
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-10px);
}

.copyright{
    display: flex;
    justify-content: center;
    padding: var(--padding-big);
    color: white;
}

.copyright a{
    text-decoration: none;
    color: blue;
}

@media (max-width:800px){
    .navbar{
        padding: .5rem 1.5rem;
    }

    .logo{
        font-size: 1.3rem;
    }

    .nav-links{
        gap: 0rem;
    }

    .nav-links a{
        font-size: .9rem;
        gap: 0;
        padding: .3rem .5rem;
    }

    .main-content-1{
        grid-template-columns: 1fr;
        padding: 3rem 3rem 0rem;
    }

    .main-content-2{
        padding: var(--padding-small);
    }

    .second-content-top{
        padding: var(--padding-small);
    }

    h1{
        font-size: 1.5rem;
    }

    .copyright{
        font-size: .5rem;
        padding: 2rem 1rem;
    }
}